.App {
  text-align: center;
  padding: 5% 20%;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  text-align: center;
  font-size: 1.1em;
  padding: 1.5em;
  color: white;
}

.space-between{
  justify-content: space-between;
}


